<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--设置服务器IP-->
    <add key="ServerIP" value="127.0.0.1" />
    <!--设置默认数据库-->
    <add key="DefaultDatabase" value="Sqlserver" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Sqlserver" connectionString="Data Source=.;Initial Catalog=RapidErp;Integrated Security=True;" providerName="System.Data.SqlClient"></add>
    <add name="RapidErp" connectionString="Data Source=.;Initial Catalog=RapidErp;Integrated Security=True;" providerName="System.Data.SqlClient"></add>-->
    <add name="Sqlserver" connectionString="Data Source=.;Initial Catalog=RapidErp;User ID=sa;Pwd=sa" providerName="System.Data.SqlClient" />
    <add name="RapidErp" connectionString="Data Source=.;Initial Catalog=RapidErp;User ID=sa;Pwd=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会
            影响性能，因此只在开发过程中将此值
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="2048000" executionTimeout="600" />
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来
            识别进入用户的
            安全身份验证模式。
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
  -->
    <customErrors mode="Off" defaultRedirect="Error.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!--<sessionState mode="InProc" timeout="30" cookieless="false"></sessionState>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>